fieldset {
	margin-bottom: 0;
}

fieldset,
legend,
label {
	font-weight: normal;
	margin-bottom: 0;
}

.radio-group legend {
	display: none;
}

.radio-group-colour {
	height: auto;

	label {
		position: relative;
		width: 2rem;
		height: 2rem;

		&:focus-within {
			.colour-option {
				outline: 2px solid currentColor;
				outline-offset: 4px;
			}
		}
	}

	input[type='radio'] {
		margin: 0.5rem;
	}

	input:checked + .colour-option {
		border: 0.2rem solid rgba(0, 0, 0, 0.2);
	}

	.btn-toggle-colours {
		align-items: center;
		background: transparent none;
		border: none;
		display: flex;
		flex-direction: row;
		gap: 6px;
		height: 40px;
		margin: 0;
		padding: 0;
		width: auto;

		.colour-option {
			position: static;
		}

		&:focus {
			outline: none;
			box-shadow: none;
			.colour-option {
				outline: 2px solid currentColor;
				outline-offset: 4px;
			}
		}

		svg {
			height: 16px;
			width: 16px;
		}

		&[aria-expanded='true'] + .colour-list {
			display: flex;
		}
	}

	.colour-list {
		background-color: var(--card-background-color);
		border-radius: var(--border-radius);
		display: none;
		filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.8));
		flex-direction: row;
		flex-wrap: wrap;
		gap: 9px;
		left: -1rem;
		margin-top: 0.75rem;
		padding: 0.75rem 1rem;
		position: absolute;
		right: auto;
		z-index: 10;

		&:after {
			background-color: var(--card-background-color);
			content: '';
			display: block;
			height: 16px;
			margin-left: 12px;
			position: absolute;
			top: -4px;
			transform: rotate(45deg);
			width: 16px;
			z-index: -10;
		}
	}

	.colour-option {
		background-color: currentColor;
		border-radius: 50%;
		display: block;
		flex: 0 0 2rem;
		height: 2rem;
		left: 0;
		overflow: hidden;
		position: absolute;
		text-indent: -9999px;
		top: 0;
		width: 2rem;
		z-index: 1;

		svg {
			color: var(--background-color);
			bottom: 0;
			height: 70%;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			stroke-width: 3px;
			top: 0;
			width: 70%;
		}
	}
}
